// corrigir importação da fonte
@font-face {
  font-family:'Helvetica';
  src: url('../src/assets/fonts/HelveticaUltraLt_0.ttf') format("truetype");
  font-style: oblique;
  font-weight: bold;
}
@font-face {
  font-family:'Roboto-Light';
  src: url('../src/assets/fonts/Roboto-Light_0.ttf') format("truetype");

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #FFFFFF;

  --blue-100: #29ABE2;
  --blue-200: #012D51;

  --brown-100: #808080;

}

html {
  font-size: 62.5%;
}



body, input, textarea, select, button {
  font: normal 1.6rem 'Helvetica', sans-serif;
}

button {
  cursor: pointer;
  transition: 0.5s;

  &:hover{
    filter: brightness(0.7)
  }
}

a {
  color: inherit;
  text-decoration: none;
}


