.container{
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 6rem 1fr;
  border-bottom: 2px solid var(--blue-100);
  padding:1rem 0;
  width: 90vw;



   strong{
    color: var(--brown);
    font-size: 1.4rem;
    font-weight: bold;
   }

  span{
    background: none;
    font-size: 1.4rem;
    color: var(--brown);

  }
   }
