.container{

   h2{
    font-family: Helvetica;
    text-align: center;
    color: var(--blue-100);
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    }


}
