.container{
  background-color: var(--blue-100);
  width:100vw;
  padding:  2rem;
  position: relative;

span.errors{
  color: red;
  margin-top: -15px;
}


  >div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
  }


  h2{
    font-size:2.5rem;
    font-family: Helvetica;
    text-align: center;
    color: var(--white);
    font-weight: normal;

  }

  form {
    margin-top:2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    button{
      padding: 1rem 0;
      font-family: Helvetica;
      font-size: 2rem;
      background-color: var(--blue-200);
      color: var(--blue-100)
    }
  }
  @media(min-width: 320px){
    padding: 5rem 10rem;
  }
  @media(min-width: 768px){
    padding: 5rem 20rem;
  }

 }
