.container{
   position: absolute;
   max-height: 56.8rem;

   div{
    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content:space-between;
     width: 100vw;
   }
 }

 .logo{
  width: 10rem;
 }
